<h1><%= @task.name %></h1>
<span>Owner: <%= User.find(Bucket.find(@task.bucket_id).user_id).email %>
<p><%= @task.description %></p>
<h6><%= @task.status %></h6>
<% if current_user.id === Bucket.find(@task.bucket_id).user_id %>
  <%= button_to "Edit task", edit_task_path(@task), method: :get %>
<% end %>